ul{
    padding-left: 0;
    margin-bottom: 0;
}
.select-search-container:not(.select-search-is-multiple) .select-search-select{
    z-index:99;
    /* margin-bottom: 40px; */
}
/* .select-search-container:not(.select-search-is-multiple) .select-search-select ul{ */
    /* overflow:scroll; */
    /* margin-bottom: 40px; */
/* } */
.select-search-is-selected{
    color: #fff;
    background:#1e66f5;
}
.select-search-container{
    --select-search-selected:#ECECEC;
}